<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <title>Document</title>

    <style>
    .align-left-bold-heading {
  text-align: left;        
  font-weight: bold;       
}
</style>

    <script>
        var mymodule = angular.module("kuchModule", []);

        mymodule.controller("kuchController", function ($scope, $http) {
            $scope.jsonArray = [];
            $scope.selCity;
            $scope.selGame;
            $scope.doFetchAll = function () {
               
                var url = "/do-fetch-all-tournaments?kuchCity="+$scope.selCity.trim()+"&kuchGame="+$scope.selGame.trim();


                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    //alert(JSON.stringify(response.data));
                    $scope.jsonArray = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            };
//---------------------------------------------------------------
$scope.cities=[{}];
  $scope.doFetchAlCities = function () {
                var url = "/do-fetch-all-cities";

                $http.get(url).then(allGoodFx, someBadFx);
                function allGoodFx(response) {
                    //resp in JSON array
                    alert(JSON.stringify(response.data));
                    $scope.cities = response.data;
                }

                function someBadFx(response) {
                    alert(JSON.stringify(response.data));
                }
            };

            //==================================================
            $scope.oneRecord = {};
            $scope.doShowDetails = function (index) {
                //alert(JSON.stringify($scope.jsonArray[index]))
                $scope.oneRecord = $scope.jsonArray[index];

            }
        });
    </script>
</head>

<body ng-app="kuchModule" ng-controller="kuchController" ng-init="doFetchAlCities();">
    <center>
        select
        <hr />
        <h2>All TOURNAMENTS</h2>
        <SELECT ng-model="selGame">
            <option value="none">Select</option>
           <option >Football</option>
     <option > Cricket</option>
     <option > Basketball</option>
     <option >Tennis</option>
     <option >Badminton</option>
     <option > Baseball</option>
     <option > Hockey</option>
     <option >Volleyball</option>
     <option > Golf</option>
     <option > Marathon</option>
        </SELECT>
        <select ng-model="selCity">
            <option value="none">select</option>
            <option ng-repeat="obj in cities" value={{obj.eventCity}}>{{obj.eventCity}}</option>
        </select>
       <input type="button" value="Find Tournaments" ng-click="doFetchAll();">

        <div class="container">
            <div class="row">
                <div class="col-md-3  p-3 mb-2" ng-repeat="obj in jsonArray">
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title">
                                {{obj.eventTitle}}
                            </h5>
                            <p class="card-text">
                                {{obj.eventSport}}
                            </p>
                            <p class="card-text">
                                {{obj.eventCity}}
                            </p>
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailsModal"
                                ng-click="doShowDetails($index);">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ************************** -->

        <!-- Modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">ALL DETAILS</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <p class="align-left-bold-heading">
                            Emailid : {{oneRecord.eventEmail}}
                        </p>
                        <p class="align-left-bold-heading">
                            EventTitle : {{oneRecord.eventTitle}}
                        </p>
                        <p class="align-left-bold-heading">
                            Posted Date : {{oneRecord.eventDate}}
                        </p>
                        <p class="align-left-bold-heading">
                            Time Of Event : {{oneRecord.eventTime}}
                        </p>
                       
                        <p class="align-left-bold-heading">
                            City : {{oneRecord.eventCity}}
                        </p>
                        <p class="align-left-bold-heading">
                            Type of sport : {{oneRecord.eventSport}}
                        </p>
                        <p class="align-left-bold-heading">
                        Age : {{oneRecord.eventmin}}-{{oneRecord.eventmax}}
                        </p>
                     
                        <p class="align-left-bold-heading">
                            Last Date Of Registration : {{oneRecord.eventlast}}
                        </p>
                        <p class="align-left-bold-heading">
                            Entry Fees : {{oneRecord.eventfee}}
                        </p>
                        <p class="align-left-bold-heading">
                            Prize : {{oneRecord.eventmoney}}
                        </p>
                        <p class="align-left-bold-heading">
                            Contact : {{oneRecord.eventcnt}}
                        </p>
            </div>
        </div>

    </center>
</body>

</html>